fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.25

pandas==2.2.2
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.4.2

xgboost==2.0.3

pydantic==2.5.3
python-multipart==0.0.6

torch>=2.0.0
pytorch-tabnet>=4.1.0
mlxtend>=0.23.0
rapidfuzz>=3.6.0